.board{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 15vw;
    .headline{
        font-size: 5vw;
        margin: -2vw 0 0 0;
        color: rgba(255, 255, 255, 0.8);
    }
    .filters{
        display: flex;
    }

    .custom-select {
        position: relative;
        width: 12vw;
        margin: 2vw 2vw 0 0 ;

        select{
            appearance: none;
            width: 12vw;
            height: 3vw;
            background-color: rgb(35, 35, 35);
            border: none;
            border-radius: 5px;
            color: white;
            padding-left: 1vw;
            font-family: 'myFont';
        }
        .arrow{
            position: absolute;
            font-size: 1.3vw;
            color: white;
            top: 1vw;
            right: 2vw;
        }

      }

      .cardsBoard{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      .cardGame{
        display: flex;
        flex-direction: column;
        width: 22vw;
        height: 28vw;
        background-color: rgb(35, 35, 35);
        margin: 2vw 1vw 1vw 0;
        border-radius: 20px;
      }
      .photoGame{
        width: 100%;
        height: 60%;
        background-image: url("/witcher.jpg");
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .iconsSystems{
        display: flex;
        position: relative;
        flex-direction: row;
        margin: 1vw 0 1vw 1vw;
      }
      .iconSystem{
        color: #a3a3a3;
        font-size: 1.5vw;
        margin-left: 1vw;
      }
      .star{
        font-size: 1vw;
        position: absolute;
        right: 0.5vw;
        color: #ffff00;
      }
      .rating{
        display: flex;
        position: absolute;
        right: 1vw;
        align-items: center;
        width: 5vw;
        height: 2vw;
        background-color: rgba(50,50,50);
        border-radius: 10px;
      }
      .ratingText{
        color: #fff;
        margin-left: 0.5vw;
      }
}
