.containerIcon{
    display: flex;
    align-items: center;
}
.icon{
    background-color: white;
    border-radius: 20%;
    background-size: cover;
    background-repeat: no-repeat;
    &.animation{
        cursor: pointer;
        &:hover{
            transform: scale(1.2);
        }
    }
}
.textIcon{
    margin-left: 1vw;
    font-size: 1vw;
    color: rgba(255, 255, 255, 0.7);
}