@font-face {
    font-family: 'myFont';
    src: url('/font/font1.woff2') format('woff2'), 
         url('/font/font1.woff') format('woff'),
         url('/font/font1.ttf') format('ttf');  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: rgb(11, 11, 11);
    background-attachment: fixed; 
    background-size: 100% 100%; 
    overflow-x: hidden; 
}
.wrapper{
    display: flex;
    flex-direction: column;
    padding: 2%;
    .content{
        display: flex;
        margin-top: 5vw;
        
    }
}