@font-face {
    font-family: 'myFont';
    src: url('/font/Robotothin.woff2') format('woff2'), 
         url('/font/Robotothin.woff') format('woff'),
         url('/font/Robotothin.ttf') format('ttf');  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'myFont';
    font-weight: 100;
}
body{
    margin: 0;
    overflow-x: hidden; 
}
.wrapper{
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-color: rgb(234, 234, 234);
    background-attachment: fixed; 
    background-size: 100% 100%; 
    .content{
        display: flex;
        margin-top: 5vw;
        width: 100%;
    }
}
.wrraperBlackTheme{
    background-color: rgb(14, 14, 14);
}